.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-areas:
    "h  h"
    "n  c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.header {
  background: rgba(13, 13, 13, 0.725);
  grid-area: h;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.header img {
  width: 60px;
}
.nav {
  color: #a6a6a6;
  grid-area: n;
  background: rgba(38, 38, 38, 0.678);
}
.content {
  grid-area: c;
  background: rgba(38, 38, 38, 0.637);
}
.img_container {
  position: relative;
  padding-bottom: 20%;
}
.img_container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
